<%- include('./partials/header.ejs') %>
<body>
    <div class="container">
        <a href="/"class="no-style-href"><h1>Batcomputer</h1></a>
        <div class="row">
            <%- include('./partials/searchBar.ejs') %>
        </div>
    </div>
</body>
<%- include('./partials/header.ejs') %>